
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .global {
        padding: 50px;
        color: #f0f9ff;
        margin-top: 80px;
        background-color: darkorange;
        background-size: cover;
        opacity: 0.9;
    }

        .global .curve {
            position: absolute;
            top: 17%;
            background: #000;
            opacity: 0.2;
            width: 0%;
            height: 38%;
            border-top-right-radius: 50px;
            border-bottom-left-radius: 0px;
        }

        .global h6 {
            margin-top: 0;
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .global ul {
            list-style-type: none;
            line-height: 30px;
            font-size: 15px;
            margin-bottom: 0;
        }

            .global ul a {
                color: #fff;
                text-decoration: none;
                transition: 0.3s;
            }

                .global ul a:hover {
                    opacity: 0.8;
                    color: #eee;
                }

        .global .social {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 40px;
            padding-bottom: 0px;
            border-top: 1px solid #eee;
            margin-top: 0px;
        }

            .global .social a {
                font-size: 22px;
                width: 45px;
                height: 45px;
                line-height: 39px;
                display: inline-block;
                border-radius: 50%;
                border: 2px;
                box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
                margin: 10px;
                color: #fff;
                opacity: 0.7;
                transition: 0.3s ease-in-out;
            }

                .global .social a:hover {
                    opacity: 0.9;
                    box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
                }

        .global .copyright {
            text-align: center;
            padding-top: 24px;
            font-weight: 500;
            opacity: 0.8;
            font-size: 16px;
        }
        /*  Footer css */
.element-btn .element-fill-btn {
    background-color: darkorange;
    border: 0;
    color: #fff;
    padding: 13px 5px;
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    width: 252px;
    margin: 0 auto;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 50px -10px rgba(255, 10, 120, 1);
   
}
.fill-btn {
    background-color: #ff6600;
    border: 0;
    color: #fff;
    padding: 13px 5px;
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    width: 252px;
    margin: 0 auto;
    border-radius: 25px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
   
}
.fill-btn:hover,
.element-btn .element-fill-btn:hover {
    background-color: #201f1f;
    box-shadow: 0px 10px 50px -10px rgb(32, 31, 31);
}


.footer {
    position: relative;
    background-color: #201f1f;
    padding:50px 0px;
}

.footerBg {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.13;
    background: url('http://placehold.it/1920x677') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.form-Box input[type="text"],
.form-Box input[type="email"],
.form-Box input[type="passowrd"],
.form-Box textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #737373;
    border-radius: 25px;
    background-color: transparent;
    padding: 5px 25px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #737373;
    font-style: italic;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}
.form-Box textarea {
    height: 113px;
    padding: 15px 25px;
    resize: none;
}
.form-Box .b_effect:focus,
.subscribe form input:focus {
    border-color: #ff6600;
}

.form-Box .fill-btn {
    position: static;
    transform: translate(0%, 0);
    -webkit-transform: translate(0%, 0);
    -moz-transform: translate(0%, 0);
    -ms-transform: translate(0%, 0);
    width: 184px;
}

.form-Box .fill-btn:hover,
.subscribe form .fill-btn:hover {
    background-color: #ffe402;
    color: #201f1f;
    box-shadow: 0px 10px 50px -10px rgb(255, 228, 2);
}

.fTitle {
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 20px;
}

.fTitle span {
    color: #ff6600;
}

.contact-address ul li,
.contact-address ul li a {
    color: #737373;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 15px;
    line-height: 32px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.contact-address {
    padding: 0 15%;
}

.contact-address ul li i {
    margin-right: 15px;
    display: inline-block;
    float: left;
    line-height: 32px;
}

.contact-address ul li span {
    display: table;
}

.contact-address ul li a:hover {
    color: #ff6600;
}

.subscribe form {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
}

.subscribe form input {
    width: 100%;
    height: 50px;
    border: 1px solid #737373;
    border-radius: 25px;
    background-color: transparent;
    padding: 5px 215px 5px 25px;
    font-size: 14px;
    color: #737373;
    font-style: italic;
}

.subscribe form .fill-btn {
    bottom: auto;
    top: 0;
    right: 0;
    left: auto;
    transform: translate(0%, 0);
    -webkit-transform: translate(0%, 0);
    -moz-transform: translate(0%, 0);
    -ms-transform: translate(0%, 0);
    width: 209px;
}

.social-icons ul li {
    display: inline-block;
    float: left;
    color: #fff;
    text-align: center;
    line-height: 43px;
    position: relative;
    width: 43px;
    height: 43px;
    margin-right: 28px;
}

.social-icons ul li a {
    color: #fff;
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.social-icons ul li:before {
    content: "";
    width: 43px;
    height: 43px;
    display: inline-block;
    position: absolute;
    border: 1px solid #ff6600;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.social-icons ul li:last-child {
    margin: 0;
}

.social-icons ul li:hover:before {
    background: #ff6600;
}


/* Copyright css */

.copyright {
    padding: 51.5px 0;
    text-align: center;
}

.copyright h6 {
    font-size: 14px;
    font-style: italic;
    color: #737373;
}

.copyright h6 a {
    color: #ff6600;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.copyright h6 a:hover {
    color: #201f1f;
}
</style>
