input[type=text]{
  width: 230px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: -webkit-sticky;
  transition-timing-function: ease-in-out;
  float:left;
  position:left;
}


input[type=text]:focus {
  width: 100%;
}

#logo{

    width:1200px;
    height:150px;
     background-color: #CDCDCD;
   background-image: url("X.png");
    background-size: 100px;
    background-repeat: no-repeat;
    margin-top:5px;
    margin-left-side:10px;
}
.container{ 
float:right;
position: -webkit-sticky;
background-color: #CDCDCD;

 display:flex;
 align-items:center;
 justify-content:center;
 text-align:center;

 
}

.fa:hover{
 color:#FF8C00;
 font-size: 150;
 width:10px;
float: right;
width: 15px;
height: 85px; 


 
}
.fa{
color: #585858;
padding-left: 20px;
display: inline-block;
display:block;
width:10px;
float: right;
width: 15px;
height: 85px;
text-align:center;
}

.fas:hover{
 color:#FF8C00;
 font-size: 150;	
 width:10px;
 float: right;
 width: 15px;
 height: 85px;
}
.fas{
color: #585858;
padding-left: 20px;
display: block;
width:10px;
float: right;
width: 15px;
height: 85px;
text-align:center;
}

#H{
text-align:center;
}

.post{
float:left;
margin-top:5px;
padding-left:20px;
}